In [128]:
import pandas as pd
from sqlalchemy import create_engine

In [129]:
covidNA_file = "Resources/Covid-NA.csv"
covidNA_df = pd.read_csv(covidNA_file)
covidNA_df.head()

,"Country, Other",Total Cases,Total Deaths,Total Recovered,Active Cases,Serious / Critical Condition,Total Cases / 1M Population,Deaths / 1M Population,Total Tests,Tests / 1M Population,Population
0,USA,"42,634,054","688,486","32,347,726","9,597,842","25,209","127,897","2,065","615,684,393","1,846,976","333,347,223"
1,Mexico,"3,549,229","270,346","2,897,667","381,216","4,798","27,183","2,071","10,302,152","78,903","130,567,887"
2,Canada,"1,564,089","27,325","1,493,619","43,145",638,"41,007",716,"41,861,477","1,097,525","38,141,706"
3,Cuba,"776,125","6,601","730,673","38,851",458,"68,573",583,"8,835,501","780,641","11,318,258"
4,Guatemala,"521,093","12,907","468,216","39,970",5,"28,452",705,"2,373,843","129,612","18,315,046"

In [130]:
covidNA_df.columns

Index(['Country, Other', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Serious / Critical Condition',
       'Total Cases / 1M Population', 'Deaths / 1M Population', 'Total Tests',
       'Tests / 1M Population', 'Population'],
      dtype='object')

In [131]:
reduced_covidNA_df = covidNA_df[["Country, Other","Total Cases","Total Deaths","Total Recovered","Population"]].copy()

reduced_covidNA_df

,"Country, Other",Total Cases,Total Deaths,Total Recovered,Population
0,USA,"42,634,054","688,486","32,347,726","333,347,223"
1,Mexico,"3,549,229","270,346","2,897,667","130,567,887"
2,Canada,"1,564,089","27,325","1,493,619","38,141,706"
3,Cuba,"776,125","6,601","730,673","11,318,258"
4,Guatemala,"521,093","12,907","468,216","18,315,046"
5,Costa Rica,"502,362","5,919","404,719","5,150,280"
6,Panama,"463,459","7,166","451,966","4,396,682"
7,Honduras,"356,707","9,452","108,225","10,094,582"
8,Dominican Republic,"354,443","4,025","345,456","10,979,230"
9,El Salvador,"99,701","3,066","83,342","6,525,742"
10,Jamaica,"77,989","1,768","50,361","2,976,782"
11,Guadeloupe,"52,480",668,"2,250","400,207"
12,Trinidad and Tobago,"47,925","1,397","42,596","1,404,964"
13,Martinique,"39,745",555,104,"374,913"
14,Haiti,"21,318",596,"19,053","11,570,269"
15,Bahamas,"19,795",469,"17,492","397,780"
16,Belize,"18,334",389,"16,409","406,330"
17,Curaçao,"15,925",155,"15,316","164,904"
18,Aruba,"15,177",156,"14,715","107,314"
19,Nicaragua,"13,025",202,"4,225","6,719,669"
20,Saint Lucia,"10,217",139,"7,670","184,641"
21,Barbados,"6,248",54,"5,366","287,800"
22,Sint Maarten,"4,053",59,"3,811","43,463"
23,Bermuda,"4,027",37,"2,907","62,000"
24,Saint Martin,"3,646",47,"1,399","39,461"
25,Grenada,"3,262",46,910,"113,153"
26,Turks and Caicos,"2,799",21,"2,661","39,349"
27,Dominica,"2,758",8,"2,125","72,202"
28,British Virgin Islands,"2,642",37,"2,555","30,474"
29,St. Vincent Grenadines,"2,613",13,"2,331","111,366"
30,Antigua and Barbuda,"2,463",55,"1,551","98,908"
31,Caribbean Netherlands,"1,956",17,"1,827","26,517"
32,Saint Kitts and Nevis,"1,589",9,893,"53,653"
33,St. Barth,"1,548",2,462,"9,913"
34,Cayman Islands,772,2,717,"66,653"
35,Greenland,441,NaN,362,"56,889"
36,Anguilla,325,NaN,310,"15,165"
37,Montserrat,31,1,24,"4,996"
38,Saint Pierre Miquelon,31,NaN,31,"5,760"
39,Total:,"51,194,396","1,042,195","39,552,042",NaN

In [132]:
covidNA_transformed_df = reduced_covidNA_df.copy()

covidNA_transformed_df = covidNA_transformed_df.rename(columns={"Country, Other":"Country",
                                                                "Total Cases":"Total_Cases",
                                                                "Total Deaths":"Total_Deaths",
                                                                "Total Recovered":"Total_Recovered"
                                                               })

covidNA_transformed_df

,Country,Total_Cases,Total_Deaths,Total_Recovered,Population
0,USA,"42,634,054","688,486","32,347,726","333,347,223"
1,Mexico,"3,549,229","270,346","2,897,667","130,567,887"
2,Canada,"1,564,089","27,325","1,493,619","38,141,706"
3,Cuba,"776,125","6,601","730,673","11,318,258"
4,Guatemala,"521,093","12,907","468,216","18,315,046"
5,Costa Rica,"502,362","5,919","404,719","5,150,280"
6,Panama,"463,459","7,166","451,966","4,396,682"
7,Honduras,"356,707","9,452","108,225","10,094,582"
8,Dominican Republic,"354,443","4,025","345,456","10,979,230"
9,El Salvador,"99,701","3,066","83,342","6,525,742"
10,Jamaica,"77,989","1,768","50,361","2,976,782"
11,Guadeloupe,"52,480",668,"2,250","400,207"
12,Trinidad and Tobago,"47,925","1,397","42,596","1,404,964"
13,Martinique,"39,745",555,104,"374,913"
14,Haiti,"21,318",596,"19,053","11,570,269"
15,Bahamas,"19,795",469,"17,492","397,780"
16,Belize,"18,334",389,"16,409","406,330"
17,Curaçao,"15,925",155,"15,316","164,904"
18,Aruba,"15,177",156,"14,715","107,314"
19,Nicaragua,"13,025",202,"4,225","6,719,669"
20,Saint Lucia,"10,217",139,"7,670","184,641"
21,Barbados,"6,248",54,"5,366","287,800"
22,Sint Maarten,"4,053",59,"3,811","43,463"
23,Bermuda,"4,027",37,"2,907","62,000"
24,Saint Martin,"3,646",47,"1,399","39,461"
25,Grenada,"3,262",46,910,"113,153"
26,Turks and Caicos,"2,799",21,"2,661","39,349"
27,Dominica,"2,758",8,"2,125","72,202"
28,British Virgin Islands,"2,642",37,"2,555","30,474"
29,St. Vincent Grenadines,"2,613",13,"2,331","111,366"
30,Antigua and Barbuda,"2,463",55,"1,551","98,908"
31,Caribbean Netherlands,"1,956",17,"1,827","26,517"
32,Saint Kitts and Nevis,"1,589",9,893,"53,653"
33,St. Barth,"1,548",2,462,"9,913"
34,Cayman Islands,772,2,717,"66,653"
35,Greenland,441,NaN,362,"56,889"
36,Anguilla,325,NaN,310,"15,165"
37,Montserrat,31,1,24,"4,996"
38,Saint Pierre Miquelon,31,NaN,31,"5,760"
39,Total:,"51,194,396","1,042,195","39,552,042",NaN

In [133]:
final_covidNA = ["USA","Mexico","Canada"]

final_covidNA

['USA', 'Mexico', 'Canada']

In [134]:
NAfilter = covidNA_transformed_df.Country.isin(final_covidNA)

In [135]:
covidNA_transformed_df[NAfilter]

  Country Total_Cases Total_Deaths Total_Recovered   Population
0     USA  42,634,054      688,486      32,347,726  333,347,223
1  Mexico   3,549,229      270,346       2,897,667  130,567,887
2  Canada   1,564,089       27,325       1,493,619   38,141,706