In [1]:
import pandas as pd

import requests

import os
import urllib, json

In [2]:
#  https://covid.ourworldindata
    
    
data = json.load(open('Resources/hospitalizations.json'))

js_df = pd.DataFrame(data["data"])


js_df.columns

Index(['FIPS', 'StateAbbreviation', 'StateName', 'Date', 'StateReportedDate',
       'TotalHospToDate', 'TotalInICUToDate', 'CurrentHospitalizations',
       'CurrentlyInICU', 'CurrentlyOnVentilator', 'TotalDeaths'],
      dtype='object')

In [3]:
jss_df = js_df[['StateName', 'StateAbbreviation', 'Date', 'TotalDeaths']].copy()


jss_df

      StateName StateAbbreviation                      Date  TotalDeaths
0        Alaska                AK  2021-09-19T00:00:00.000Z        454.0
1        Alaska                AK  2021-09-18T00:00:00.000Z        454.0
2        Alaska                AK  2021-09-17T00:00:00.000Z        454.0
3        Alaska                AK  2021-09-16T00:00:00.000Z        453.0
4        Alaska                AK  2021-09-15T00:00:00.000Z        453.0
...         ...               ...                       ...          ...
28030   Wyoming                WY  2020-03-26T00:00:00.000Z          NaN
28031   Wyoming                WY  2020-03-25T00:00:00.000Z          NaN
28032   Wyoming                WY  2020-03-24T00:00:00.000Z          NaN
28033   Wyoming                WY  2020-03-23T00:00:00.000Z          NaN
28034   Wyoming                WY  2020-03-22T00:00:00.000Z          NaN

[28035 rows x 4 columns]

In [4]:
states_deaths_df = jss_df.dropna()
# state_death_rates_clean_df

states_deaths_df.tail(20)

      StateName StateAbbreviation                      Date  TotalDeaths
28008   Wyoming                WY  2020-04-17T00:00:00.000Z          2.0
28009   Wyoming                WY  2020-04-16T00:00:00.000Z          2.0
28010   Wyoming                WY  2020-04-15T00:00:00.000Z          2.0
28011   Wyoming                WY  2020-04-14T00:00:00.000Z          1.0
28012   Wyoming                WY  2020-04-13T00:00:00.000Z          1.0
28013   Wyoming                WY  2020-04-12T00:00:00.000Z          0.0
28014   Wyoming                WY  2020-04-11T00:00:00.000Z          0.0
28015   Wyoming                WY  2020-04-10T00:00:00.000Z          0.0
28016   Wyoming                WY  2020-04-09T00:00:00.000Z          0.0
28017   Wyoming                WY  2020-04-08T00:00:00.000Z          0.0
28018   Wyoming                WY  2020-04-07T00:00:00.000Z          0.0
28019   Wyoming                WY  2020-04-06T00:00:00.000Z          0.0
28020   Wyoming                WY  2020-04-05T00:00:00.000Z          0.0
28021   Wyoming                WY  2020-04-04T00:00:00.000Z          0.0
28022   Wyoming                WY  2020-04-03T00:00:00.000Z          0.0
28023   Wyoming                WY  2020-04-02T00:00:00.000Z          0.0
28024   Wyoming                WY  2020-04-01T00:00:00.000Z          0.0
28025   Wyoming                WY  2020-03-31T00:00:00.000Z          0.0
28026   Wyoming                WY  2020-03-30T00:00:00.000Z          0.0
28027   Wyoming                WY  2020-03-29T00:00:00.000Z          0.0

In [5]:
states_deaths_df.columns

Index(['StateName', 'StateAbbreviation', 'Date', 'TotalDeaths'], dtype='object')

In [6]:
# grouped_states_df = states_deaths_df.groupby['StateName']['TotalDeaths'].max()
                                             
# grouped_states_df

grouped_states_df = states_deaths_df.groupby('StateAbbreviation')
states_deaths_grouped_df = grouped_states_df.max()


states_deaths_grouped_df

                              StateName                      Date  TotalDeaths
StateAbbreviation
AK                               Alaska  2021-09-19T00:00:00.000Z        454.0
AL                              Alabama  2021-09-19T00:00:00.000Z      13210.0
AR                             Arkansas  2021-09-19T00:00:00.000Z       7412.0
AZ                              Arizona  2021-09-19T00:00:00.000Z      19513.0
CA                           California  2021-09-19T00:00:00.000Z      67608.0
CO                             Colorado  2021-09-19T00:00:00.000Z       7374.0
CT                          Connecticut  2021-09-19T00:00:00.000Z       8463.0
DC                 District of Columbia  2021-09-19T00:00:00.000Z       1167.0
DE                             Delaware  2021-09-19T00:00:00.000Z       1920.0
FL                              Florida  2021-09-19T00:00:00.000Z      36973.0
GA                              Georgia  2021-09-19T00:00:00.000Z      21235.0
HI                               Hawaii  2021-09-19T00:00:00.000Z        714.0
IA                                 Iowa  2021-09-19T00:00:00.000Z       6401.0
ID                                Idaho  2021-09-19T00:00:00.000Z       2636.0
IL                             Illinois  2021-09-19T00:00:00.000Z      24546.0
IN                              Indiana  2021-09-19T00:00:00.000Z      14615.0
KS                               Kansas  2021-09-19T00:00:00.000Z       5865.0
KY                             Kentucky  2021-09-19T00:00:00.000Z       8251.0
LA                            Louisiana  2021-09-19T00:00:00.000Z      13418.0
MA                        Massachusetts  2021-09-19T00:00:00.000Z      18062.0
MD                             Maryland  2021-09-19T00:00:00.000Z      10035.0
ME                                Maine  2021-09-19T00:00:00.000Z        984.0
MI                             Michigan  2021-09-19T00:00:00.000Z      20665.0
MN                            Minnesota  2021-09-19T00:00:00.000Z       7983.0
MO                             Missouri  2021-09-19T00:00:00.000Z      11062.0
MS                          Mississippi  2021-09-19T00:00:00.000Z       9214.0
MT                              Montana  2021-09-19T00:00:00.000Z       1877.0
NC                       North Carolina  2021-09-19T00:00:00.000Z      15615.0
ND                         North Dakota  2021-09-19T00:00:00.000Z       1586.0
NE                             Nebraska  2021-09-18T00:00:00.000Z       2364.0
NH                        New Hampshire  2021-09-19T00:00:00.000Z       1457.0
NJ                           New Jersey  2021-09-19T00:00:00.000Z      24424.0
NM                           New Mexico  2021-09-19T00:00:00.000Z       4675.0
NV                               Nevada  2021-09-19T00:00:00.000Z       6845.0
NY                             New York  2021-09-19T00:00:00.000Z      44165.0
OH                                 Ohio  2021-09-19T00:00:00.000Z      30376.0
OK                             Oklahoma  2021-09-19T00:00:00.000Z       8440.0
OR                               Oregon  2021-09-19T00:00:00.000Z       3569.0
PA                         Pennsylvania  2021-09-19T00:00:00.000Z      28862.0
RI                         Rhode Island  2021-09-19T00:00:00.000Z       2812.0
SC                       South Carolina  2021-09-19T00:00:00.000Z      11614.0
SD                         South Dakota  2021-09-19T00:00:00.000Z       2100.0
TN                            Tennessee  2021-09-19T00:00:00.000Z      14341.0
TX                                Texas  2021-09-19T00:00:00.000Z      60784.0
UT                                 Utah  2021-09-19T00:00:00.000Z       2787.0
VA                             Virginia  2021-09-19T00:00:00.000Z      12242.0
VT                              Vermont  2021-09-19T00:00:00.000Z        298.0
WA                           Washington  2021-09-19T00:00:00.000Z       7201.0
WI                            Wisconsin  2021-09-19T00:00:00.000Z       7827.0
WV                        West Virginia  2021-09-19T00:00:00.000Z       3370.0
WY                              Wyoming  2021-09-18T00:00:00.000Z        918.0

In [7]:
# Imports
import pandas as pd
import pymongo
from pymongo import MongoClient

In [8]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [9]:

db = client.covid_deaths
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'covid_deaths')

In [10]:
states_death_rate = db.states_death_rate

In [11]:
db.states_death_rate.insert_many(states_deaths_grouped_df.to_dict('records'))