In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
premise_file = "Resources/Covid-NA.csv"
premise_df = pd.read_csv(premise_file)
premise_df.head()

,"Country, Other",Total Cases,Total Deaths,Total Recovered,Active Cases,Serious / Critical Condition,Total Cases / 1M Population,Deaths / 1M Population,Total Tests,Tests / 1M Population,Population
0,USA,"42,634,054","688,486","32,347,726","9,597,842","25,209","127,897","2,065","615,684,393","1,846,976","333,347,223"
1,Mexico,"3,549,229","270,346","2,897,667","381,216","4,798","27,183","2,071","10,302,152","78,903","130,567,887"
2,Canada,"1,564,089","27,325","1,493,619","43,145",638,"41,007",716,"41,861,477","1,097,525","38,141,706"
3,Cuba,"776,125","6,601","730,673","38,851",458,"68,573",583,"8,835,501","780,641","11,318,258"
4,Guatemala,"521,093","12,907","468,216","39,970",5,"28,452",705,"2,373,843","129,612","18,315,046"