In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [10]:
covidNA_file = "Resources/Covid-NA.csv"
covidNA_df = pd.read_csv(covidNA_file)
covidNA_df.head()

,"Country, Other",Total Cases,Total Deaths,Total Recovered,Active Cases,Serious / Critical Condition,Total Cases / 1M Population,Deaths / 1M Population,Total Tests,Tests / 1M Population,Population
0,USA,"42,634,054","688,486","32,347,726","9,597,842","25,209","127,897","2,065","615,684,393","1,846,976","333,347,223"
1,Mexico,"3,549,229","270,346","2,897,667","381,216","4,798","27,183","2,071","10,302,152","78,903","130,567,887"
2,Canada,"1,564,089","27,325","1,493,619","43,145",638,"41,007",716,"41,861,477","1,097,525","38,141,706"
3,Cuba,"776,125","6,601","730,673","38,851",458,"68,573",583,"8,835,501","780,641","11,318,258"
4,Guatemala,"521,093","12,907","468,216","39,970",5,"28,452",705,"2,373,843","129,612","18,315,046"

In [11]:
covidNA_df.columns

Index(['Country, Other', 'Total Cases', 'Total Deaths', 'Total Recovered',
       'Active Cases', 'Serious / Critical Condition',
       'Total Cases / 1M Population', 'Deaths / 1M Population', 'Total Tests',
       'Tests / 1M Population', 'Population'],
      dtype='object')

In [12]:
reduced_covidNA_df = covidNA_df[["Country, Other","Total Cases","Total Deaths","Total Recovered","Population"]].copy()

reduced_covidNA_df.head()

  Country, Other Total Cases Total Deaths Total Recovered   Population
0            USA  42,634,054      688,486      32,347,726  333,347,223
1         Mexico   3,549,229      270,346       2,897,667  130,567,887
2         Canada   1,564,089       27,325       1,493,619   38,141,706
3           Cuba     776,125        6,601         730,673   11,318,258
4      Guatemala     521,093       12,907         468,216   18,315,046

In [13]:
covidNA_transformed_df = reduced_covidNA_df.copy()

covidNA_transformed_df = covidNA_transformed_df.rename(columns={"Country, Other":"Country",
                                                                "Total Cases":"Total_Cases",
                                                                "Total Deaths":"Total_Deaths",
                                                                "Total Recovered":"Total_Recovered"
                                                               })

covidNA_transformed_df.head()

     Country Total_Cases Total_Deaths Total_Recovered   Population
0        USA  42,634,054      688,486      32,347,726  333,347,223
1     Mexico   3,549,229      270,346       2,897,667  130,567,887
2     Canada   1,564,089       27,325       1,493,619   38,141,706
3       Cuba     776,125        6,601         730,673   11,318,258
4  Guatemala     521,093       12,907         468,216   18,315,046

In [14]:
final_covidNA = ["USA","Mexico","Canada"]
final_covidNA

['USA', 'Mexico', 'Canada']

In [15]:
NAfilter = covidNA_transformed_df.Country.isin(final_covidNA)

In [16]:
covidNA_transformed_df[NAfilter]

  Country Total_Cases Total_Deaths Total_Recovered   Population
0     USA  42,634,054      688,486      32,347,726  333,347,223
1  Mexico   3,549,229      270,346       2,897,667  130,567,887
2  Canada   1,564,089       27,325       1,493,619   38,141,706