In [1]:
import pandas as pd

import requests

import os
import urllib, json

In [2]:
#  https://covid.ourworldindata
    
    
data = json.load(open('Resources/hospitalizations.json'))

js_df = pd.DataFrame(data["data"])


js_df.columns

Index(['FIPS', 'StateAbbreviation', 'StateName', 'Date', 'StateReportedDate',
       'TotalHospToDate', 'TotalInICUToDate', 'CurrentHospitalizations',
       'CurrentlyInICU', 'CurrentlyOnVentilator', 'TotalDeaths'],
      dtype='object')

In [3]:
jss_df = js_df[['StateName', 'Date', 'TotalDeaths']].copy()


jss_df

      StateName                      Date  TotalDeaths
0        Alaska  2021-09-19T00:00:00.000Z        454.0
1        Alaska  2021-09-18T00:00:00.000Z        454.0
2        Alaska  2021-09-17T00:00:00.000Z        454.0
3        Alaska  2021-09-16T00:00:00.000Z        453.0
4        Alaska  2021-09-15T00:00:00.000Z        453.0
...         ...                       ...          ...
28030   Wyoming  2020-03-26T00:00:00.000Z          NaN
28031   Wyoming  2020-03-25T00:00:00.000Z          NaN
28032   Wyoming  2020-03-24T00:00:00.000Z          NaN
28033   Wyoming  2020-03-23T00:00:00.000Z          NaN
28034   Wyoming  2020-03-22T00:00:00.000Z          NaN

[28035 rows x 3 columns]

In [4]:
states_deaths_df = jss_df.dropna()
# state_death_rates_clean_df

states_deaths_df

      StateName                      Date  TotalDeaths
0        Alaska  2021-09-19T00:00:00.000Z        454.0
1        Alaska  2021-09-18T00:00:00.000Z        454.0
2        Alaska  2021-09-17T00:00:00.000Z        454.0
3        Alaska  2021-09-16T00:00:00.000Z        453.0
4        Alaska  2021-09-15T00:00:00.000Z        453.0
...         ...                       ...          ...
28023   Wyoming  2020-04-02T00:00:00.000Z          0.0
28024   Wyoming  2020-04-01T00:00:00.000Z          0.0
28025   Wyoming  2020-03-31T00:00:00.000Z          0.0
28026   Wyoming  2020-03-30T00:00:00.000Z          0.0
28027   Wyoming  2020-03-29T00:00:00.000Z          0.0

[27936 rows x 3 columns]

In [5]:
# Imports
import pandas as pd
import pymongo
from pymongo import MongoClient

In [6]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [7]:

db = client.US_deaths
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'US_deaths')

In [8]:
states_death_rate = db.states_death_rate

In [9]:
db.states_death_rate.insert_many(states_deaths_df.to_dict('records'))